/* Media queries for tablet screens */
@media (max-width: 768px) {
    /* Adjust styles for tablet screens here */
    body {
        font-size: 16px; /* Adjust font size for better readability on tablets */
    }

    /* Adjust header, project, and other section styles for better layout */
}

/* Media queries for smartphone screens */
@media (max-width: 480px) {
    /* Adjust styles for smartphone screens here */
    body {
        font-size: 14px; /* Adjust font size for better readability on smartphones */
    }

    /* Adjust header, project, and other section styles for better layout */
}

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and default font */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Style navigation links */
nav {
    text-align: center; /* Center-align the navigation list */
    margin-top: 10px; /* Add some spacing between header and navigation */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#single-nav {
    margin-right: 0;
}

/* Style sections */
section {
    padding: 2rem;
}

/* Style project boxes */
.project {
    background-color: white;
    padding: 1rem;
    margin: 20px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style project details on project pages */
.project-details, #project-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.project-screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    width: 50%;
}

.project-screenshot img {
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.project-screenshot:nth-child(odd) {
    flex-direction: column-reverse;
    text-align: right;
}

.project-screenshot:nth-child(odd) p {
    margin-right: 10%;
    margin-left: 0;
}

.project-screenshot:nth-child(even) {
    flex-direction: column;
    text-align: left;
}

.project-screenshot:nth-child(even) p {
    margin-left: 10%;
    margin-right: 0;
}

/* Style project essays section on project pages */
#project-essay {
    padding: 0;
    padding-top: 2rem;
    background-color: #f5f5f5;
    text-align: center;
}

.pdf-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* 100% of viewport width */
    height: 88vh; /* 80% of viewport height */
    overflow: hidden; /* Prevent scrollbars if the PDF is larger than the viewer */
    position: relative; /* For absolute positioning of loading overlay */
}

#pdf-object {
    width: 90%; /* Adjust the width as needed */
    height: 100%; /* 100% of the container height */
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
