<!-- resume.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../static/styles.css">    
    <script src="../static/pdf.js/src/pdf.js"></script>
    <script src="../static/pdf.js/src/pdf.worker.js"></script>   
</head>
<body>
    <header>
        <h1>Resume</h1>
        <nav>
            <ul>
                <li id="single-nav"><a href="/">Back to Home</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="project-essay">
        <div class="pdf-viewer">
            <iframe id="pdf-object" src="../static/pdf.js/web/viewer.html?file=../../../../../static/Resume/resume.pdf" width="100%" height="800px"></iframe>
        </div>              
    </section>
    
    <!-- Additional sections: contact, footer, etc. -->
    
</body>
</html>